$big-screen: 800px;

:root {
    font-size: 17px;
}
* {
    box-sizing: border-box;
}
.Preview-Header {
    @media (max-width: $big-screen) {
        text-align: center;
    }
}
.Preview-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    @media (min-width: $big-screen) {
        flex-direction: row;
        align-items: flex-start;
    }
    & > div {
        flex: 1;
    }
    .Outer {
        border: 1px solid gray;
    }
}
.Preview-Config {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    h3 {
        margin-top: 16px;
        margin-bottom: 6px;
    }
    input, select {
        min-width: 80px;
        field-sizing: content;
        font-size: 0.9rem;
    }
    code {
        background-color: #f0f0f0;
        padding: 3px;
        border-radius: 2px;
    }
}
